body {
    font-family: Arial, sans-serif;
    background-color: #fffbe6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 1.8em;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #f7b3b3;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #f59090;
}

.alt-action {
    text-align: center;
    margin-top: 15px;
}

.alt-action a {
    color: #f59090;
    text-decoration: none;
    font-size: 0.9em;
}

.alt-action a:hover {
    text-decoration: underline;
}